<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaozhi.dao.CozeUserMapper">

    <sql id="Base_Column_List">
        id, name, age, gender, phone, likes, dataSource, cozeUserId, createdAt, updatedAt
    </sql>

    <select id="selectByCozeUser" resultType="com.xiaozhi.entity.CozeUser" parameterType="com.xiaozhi.entity.CozeUser">
        select 
        <include refid="Base_Column_List" />
        from coze_user
        where cozeUserId = #{cozeUserId,jdbcType=VARCHAR} and dataSource = #{dataSource,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.xiaozhi.entity.CozeUser">
        insert into coze_user (name, age, gender, phone, likes, dataSource, cozeUserId)
        values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{gender,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{likes,jdbcType=VARCHAR}, #{dataSource,jdbcType=VARCHAR}, #{cozeUserId,jdbcType=VARCHAR})
    </insert>

    <update id="updateByCozeUser" parameterType="com.xiaozhi.entity.CozeUser">
        update coze_user
        set name = #{name,jdbcType=VARCHAR},
            age = #{age,jdbcType=INTEGER},
            gender = #{gender,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            likes = #{likes,jdbcType=VARCHAR},
            updatedAt = #{updatedAt,jdbcType=TIMESTAMP}
        where cozeUserId = #{cozeUserId,jdbcType=VARCHAR} and dataSource = #{dataSource,jdbcType=VARCHAR}
    </update>

</mapper>